# Dependencies
node_modules/

# Build
dist/
.qodo/

# Environment
.env

# Prisma
prisma/migrations/

# Logs
*.log

# Coverage
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

/generated/prisma
